<!DOCTYPE html>
<html>
  <head>
    <title><%= data.title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div id="bodyDiv">
      <h1>Üdvözöllek az A Z U R E világában!</h1>
      <p>[Docker alapon]</p>
      <h2><%= data.title %></h2>
      <p>Aktuális NodeJS Verzió: <%= data.nodeVerison %></p>
      <p>SZERVER NEVE: <%= data.host %></p>
      <div>
        <img src="/images/docker.png" width="200px;" /> 
      </div>
    </div>
  </body>
</html>
